# Dependencies
node_modules/

# Environment Variables & Keys
.env
.env.local
.env.production

# Vercel & Shopify Local Build Artifacts
.vercel/
.shopify/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
